
@import url('https://fonts.cdnfonts.com/css/hanson');
@font-face {   font-family: 'Heiti TC';   src: url('fontheiti-tc.woff2') format('woff2'),        url('heiti-tc.woff') format('woff'); }
                
/* HOME_______________________________________________________________________________________________ */


* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(20, 20, 20);
} 

@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url();
}

html,
body {
    margin: 0;
    padding: 0;
    background-color:#f2e9cc
}

header {
    background-image: url('./images/zwart-wit-hokje.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

nav {
    text-align: right;
    font-size: 0.6em;
    margin-left: 22.7em;
}

nav ul {
    margin: 0em;
    padding-top: 3.6em;
}

li {
    list-style: none;
    padding-bottom: 1em;
}

nav a {
    text-decoration: none;
    color: #236130;
    padding: 1em 1.6em 1em 1.6em;
    border-radius: 1em 0 0 1em;
    font-family: 'hanson', sans-serif;    
    font-size: small;                                     
    background-color: #99bd05;
    display: block;
    text-align: left;
}
.roze{
    color: #f2e9cc;
    background-color:  #df3890;
}

header img {
   margin: 0 auto;
   margin-top: 6em;
 
}

.index p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 0.9em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -0.4em;
}

/* KLEUREN */
/* background-color: #99bd05; Licht groen */
/* background-color: #236130; donker groen */
/* background-color: #f2e9cc; Beige */
/* background-color: ##df3890; roze */


/* HOKJES_______________________________________________________________________________________________ */

.hokjes {
background-image: url('./images/vlinder.jpg');
}

.hokjes p { 
    /* font-family: 'Heiti TC', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Source Sans 3', sans-serif; */
    line-height: 1.5em;
    font-size: 0.7em;
    letter-spacing: 0.04em;



    background-color: #236130;
    color: #f2e9cc;
    text-align: center;
    margin-top: 28.9em;
    padding: 2em;
    border-radius: 16% 16% 0% 0%;
}

/* image {
    display: flex;
    justify-content: left;
} */

main {
   background-image: url('./images/patroon-achtergrond.svg')
}


section {
    display: block;
    justify-content: center;
}
main section img {
    width: 46vh;
    height: 64vw;
    margin: 2em 2em 0em 2em;
    border-radius: 7%;
}

main article {
    background-color:#f2e9cc;
    border-radius: 8%;
    margin: 2em 2em 0em 2em;
}

main article {
    padding: 2em;
}

main article h1, p {
    color: #236130;
    text-align: left; 
}

main article h1 {
    font-size: 1em;
    font-family: 'hanson', sans-serif; 
}

main article p {
    font-family: 'Times New Roman', Times, serif;
}







/* STEDEN_______________________________________________________________________________________________ */


.steden {
    background-image: url('./images/bij1.jpg');
}

.steden p { 
    /* font-family: 'Heiti TC', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
    font-size: 0.7em;
    letter-spacing: 0.04em;
    background-color: #236130;
    color: #f2e9cc;
    text-align: center;
    margin-top: 27.9em;
    padding: 2em;
    border-radius: 16% 16% 0% 0%;
}











/* FOOTER_______________________________________________________________________________________________ */
footer {
background-color:#f2e9cc;
margin-top: -2em;
}


footer p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-small;
}